@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
.bg-gradient-custom {
  background: #f3f4f6;
  background: -webkit-linear-gradient(top, #f3f4f6, #9ea093);
  background: -moz-linear-gradient(top, #f3f4f6, #9ea093);
  background: linear-gradient(to bottom, #f3f4f6, #9ea093);
}

@keyframes fadeIn {
  0% {
    opacity: 1;
    border-radius: 0px;
  }
  99% {
    opacity: 0;
    border-radius: 0.75rem;
  }
  100% {
    z-index: -10;
  }
}

.fade-animation {
  animation: fadeIn 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
