@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-custom {
background: #F3F4F6;
background: -webkit-linear-gradient(top, #F3F4F6, #9EA093);
background: -moz-linear-gradient(top, #F3F4F6, #9EA093);
background: linear-gradient(to bottom, #F3F4F6, #9EA093);
}


.card {
  width: 296px;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
    border-radius: 0px
  }
  99% {
    opacity: 0;
    border-radius: 0.75rem;
  }
  100% {
    z-index: -10;
  }
}

.fade-animation {
  animation: fadeIn 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
