@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-custom {
  background: hsla(312, 77%, 86%, 1);

  background: linear-gradient(
    90deg,
    hsla(312, 77%, 86%, 1) 0%,
    hsla(220, 61%, 79%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(312, 77%, 86%, 1) 0%,
    hsla(220, 61%, 79%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(312, 77%, 86%, 1) 0%,
    hsla(220, 61%, 79%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F7C0EC", endColorstr="#A7BDEA", GradientType=1 );
}

.masonry {
  margin: 0 auto;
}

.card {
  width: 296px;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  background: rgb(155, 34, 34);
  padding-bottom: 16px;
  margin-bottom: 16px;
  padding-top: 32px;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
    border-radius: 0px
  }
  99% {
    opacity: 0;
    border-radius: 0.75rem;
  }
  100% {
    z-index: -10;
  }
}

.fade-animation {
  animation: fadeIn 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
